<div class="blog">
  <div class="new-comment-card">
    <h2 class="page-title">New comment:</h2>
    <form class="form add-comment-btn-form">
      <div class="form-group">
        <label>Title of new comment:</label>
        <input class="form-input" type="text" id="new-comment-title" />
      </div>
      <div class="form-group">
        <label>Content of new comment:</label>
        <input class="form-input" type="text" id="new-comment-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create new comment</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/addCommentForm.js"></script>