<section class="container">
  <div class="card">
    <header>
      <h3 class="blog-name">{{blog.title}}</h3>
    </header>

    <section class="flex-row justify-center">
      <p>{{blog.content}}</p>
      {{!-- <p>Posted {{ blog.date_posted}} </p> // works but not formated--}}
    </section>
    <button class="btn btn-primary add-comment-btn">Add a comment</button>
    {{#if blog.user_id}}
    <button class="btn btn-primary edit-blog-btn">Edit blog post</button>
    <button class="btn btn-primary delete-blog-btn" data-id="{{blog.id}}">Delete blog</button>
    {{/if}}
  </div>


  <h3>Comments</h3>
  {{#each comments as |comment|}}
  {{> comment-details}}
  {{/each}}



</section>


<script src="/js/blog.js"></script>

<script src="/js/comment.js"></script>