<section class="container">
  <div class="card">
    <header>
      <h3 class="blog-name">{{blog.title}}</h3>
    </header>
    
    <section class="flex-row justify-center">
      <p>{{blog.content}}</p>
    </section>

    <button class="btn btn-primary add-comment-btn">Add a comment</button>
  </div>


  {{#each comments as |comment|}}
  {{> comment-details}}
  {{/each}}

</section>

<script src="/js/addCommentBtn.js"></script>