<header>
    <h1>Your Dashboard</h1>
</header>

<div class="blog">
    <button id="new-blog-btn" class="btn btn-primary"> + New Post</button>
    {{#each blogs as |blog|}}
    {{> blog-details}}
    {{/each}}
</div>
<script src="./js/newPost.js"></script>