<div class="blog">
  <div class="edit-blog-card">
    <h2 class="page-title">Blog:</h2>
    <form class="form create-new-blog-btn-form">
      <div class="form-group">
        <label>Title of blog:</label>
        <input class="form-input" type="text" id="new-blog-title" />
      </div>
      <div class="form-group">
        <label>Content of blog:</label>
        <input class="form-input" type="text" id="new-blog-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update blog</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/editBlogBtn.js"></script>