<div class="blog">
  <div class="edit-comment-card">
    <h2 class="page-title">Edit comment:</h2>
    <form class="form edit-comment-btn-form">
      <div class="form-group">
        <label>Title of comment:</label>
        <input class="form-input" type="text" id="edit-comment-title" value=""/>
      </div>
      <div class="form-group">
        <label>Content of comment:</label>
        <input class="form-input" type="text" id="edit-comment-content" value=""/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/editCommentForm.js"></script>